.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.960000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.959000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.954000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-8.166594px;}
._2{margin-left:-5.260288px;}
._9{margin-left:-4.144422px;}
._8{margin-left:-2.869248px;}
._0{margin-left:-1.434624px;}
._7{width:1.673726px;}
._a{width:8.807981px;}
._5{width:10.001398px;}
._e{width:11.078411px;}
._b{width:12.671449px;}
._6{width:13.907799px;}
._c{width:15.661178px;}
._d{width:26.859339px;}
._12{width:44.122474px;}
._4{width:96.676534px;}
._1{width:98.230254px;}
._11{width:156.409869px;}
._10{width:285.225122px;}
._f{width:360.435578px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:19.925200px;}
.fs4{font-size:27.895200px;}
.fs3{font-size:31.880400px;}
.fs5{font-size:35.865600px;}
.fs2{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.fs0{font-size:68.861600px;}
.y30{bottom:22.471000px;}
.y32{bottom:22.519000px;}
.y2f{bottom:31.936000px;}
.y31{bottom:31.984000px;}
.y33{bottom:53.500000px;}
.y0{bottom:55.000000px;}
.y60{bottom:71.177000px;}
.y61{bottom:73.000000px;}
.y2e{bottom:73.595000px;}
.y93{bottom:78.814000px;}
.y94{bottom:78.815000px;}
.y5f{bottom:85.125000px;}
.y2d{bottom:85.550000px;}
.y5e{bottom:99.073000px;}
.y2c{bottom:99.498000px;}
.y92{bottom:100.732000px;}
.y91{bottom:103.545000px;}
.y2b{bottom:111.453000px;}
.y90{bottom:112.687000px;}
.y5d{bottom:113.020000px;}
.y8e{bottom:117.320000px;}
.y8f{bottom:122.152000px;}
.y2a{bottom:125.401000px;}
.y5c{bottom:126.968000px;}
.y8d{bottom:134.506000px;}
.y29{bottom:139.349000px;}
.y8b{bottom:139.985000px;}
.y8c{bottom:145.465000px;}
.y89{bottom:147.457000px;}
.y8a{bottom:151.072000px;}
.y5b{bottom:152.871000px;}
.y88{bottom:159.412000px;}
.y28{bottom:161.266000px;}
.y5a{bottom:166.819000px;}
.y59{bottom:180.766000px;}
.y87{bottom:185.315000px;}
.y58{bottom:194.714000px;}
.y27{bottom:199.124000px;}
.y86{bottom:202.676000px;}
.y57{bottom:208.662000px;}
.y26{bottom:211.080000px;}
.y25{bottom:223.035000px;}
.y85{bottom:228.932000px;}
.y56{bottom:234.565000px;}
.y24{bottom:234.990000px;}
.y84{bottom:240.887000px;}
.y23{bottom:246.945000px;}
.y55{bottom:248.512000px;}
.y83{bottom:254.834000px;}
.y22{bottom:258.900000px;}
.y54{bottom:262.460000px;}
.y82{bottom:268.782000px;}
.y21{bottom:272.848000px;}
.y53{bottom:276.408000px;}
.y20{bottom:286.796000px;}
.y52{bottom:290.355000px;}
.y81{bottom:294.685000px;}
.y1f{bottom:300.743000px;}
.y80{bottom:306.640000px;}
.y1e{bottom:314.691000px;}
.y51{bottom:316.258000px;}
.y7f{bottom:320.588000px;}
.y50{bottom:330.206000px;}
.y7e{bottom:334.536000px;}
.y1d{bottom:340.594000px;}
.y4f{bottom:344.154000px;}
.y1c{bottom:352.549000px;}
.y7d{bottom:356.453000px;}
.y4e{bottom:358.101000px;}
.y1b{bottom:364.504000px;}
.y4d{bottom:372.049000px;}
.y1a{bottom:376.459000px;}
.y7c{bottom:382.356000px;}
.y19{bottom:388.415000px;}
.y7b{bottom:394.311000px;}
.y4c{bottom:397.952000px;}
.y18{bottom:400.370000px;}
.y7a{bottom:408.259000px;}
.y4b{bottom:411.900000px;}
.y17{bottom:412.325000px;}
.y79{bottom:422.207000px;}
.y16{bottom:424.280000px;}
.y4a{bottom:425.847000px;}
.y78{bottom:434.162000px;}
.y15{bottom:436.235000px;}
.y49{bottom:439.795000px;}
.y77{bottom:448.110000px;}
.y14{bottom:450.183000px;}
.y48{bottom:453.743000px;}
.y13{bottom:464.131000px;}
.y76{bottom:470.027000px;}
.y47{bottom:475.660000px;}
.y12{bottom:478.078000px;}
.y75{bottom:481.983000px;}
.y11{bottom:492.026000px;}
.y46{bottom:501.563000px;}
.y74{bottom:507.886000px;}
.y45{bottom:515.511000px;}
.y10{bottom:517.929000px;}
.y73{bottom:521.833000px;}
.y44{bottom:529.459000px;}
.yf{bottom:531.877000px;}
.y72{bottom:535.781000px;}
.y43{bottom:543.406000px;}
.ye{bottom:545.824000px;}
.y71{bottom:549.729000px;}
.yd{bottom:559.772000px;}
.y70{bottom:563.676000px;}
.y42{bottom:565.474000px;}
.yc{bottom:581.690000px;}
.y6f{bottom:589.675000px;}
.y6e{bottom:603.622000px;}
.y41{bottom:604.328000px;}
.yb{bottom:607.593000px;}
.y40{bottom:616.283000px;}
.y6d{bottom:617.570000px;}
.ya{bottom:619.548000px;}
.y3f{bottom:630.231000px;}
.y9{bottom:631.503000px;}
.y6c{bottom:631.518000px;}
.y3e{bottom:644.178000px;}
.y6b{bottom:645.466000px;}
.y8{bottom:648.440000px;}
.y6a{bottom:659.413000px;}
.y7{bottom:665.376000px;}
.y3d{bottom:671.078000px;}
.y6{bottom:682.313000px;}
.y3c{bottom:683.033000px;}
.y69{bottom:685.669000px;}
.y3b{bottom:696.980000px;}
.y5{bottom:699.249000px;}
.y68{bottom:699.617000px;}
.y3a{bottom:710.928000px;}
.y67{bottom:713.564000px;}
.y4{bottom:716.186000px;}
.y66{bottom:727.512000px;}
.y3{bottom:733.122000px;}
.y39{bottom:737.827000px;}
.y65{bottom:741.460000px;}
.y38{bottom:749.782000px;}
.y2{bottom:757.385000px;}
.y37{bottom:763.730000px;}
.y64{bottom:767.715000px;}
.y36{bottom:775.685000px;}
.y63{bottom:779.670000px;}
.y35{bottom:789.633000px;}
.y62{bottom:791.626000px;}
.y1{bottom:800.985000px;}
.y34{bottom:803.581000px;}
.ha{height:14.764573px;}
.h8{height:20.670343px;}
.h5{height:23.623376px;}
.h9{height:26.576410px;}
.h4{height:29.529146px;}
.h3{height:35.435213px;}
.h2{height:51.026446px;}
.h1{height:735.000000px;}
.h7{height:739.500000px;}
.h6{height:758.500000px;}
.h0{height:841.890000px;}
.w2{width:0.500000px;}
.w3{width:384.500000px;}
.w1{width:539.000000px;}
.w0{width:595.276000px;}
.x0{left:28.000000px;}
.xe{left:31.600000px;}
.x16{left:34.533000px;}
.x11{left:40.546000px;}
.x1{left:43.290000px;}
.x19{left:46.006000px;}
.xd{left:49.363000px;}
.x2{left:51.281000px;}
.x28{left:53.189000px;}
.xf{left:54.643000px;}
.x17{left:57.295000px;}
.x14{left:62.205000px;}
.xb{left:68.652000px;}
.x12{left:72.157000px;}
.x3{left:74.050000px;}
.x1a{left:81.482000px;}
.x27{left:84.262000px;}
.x9{left:90.608000px;}
.x13{left:92.421000px;}
.x18{left:93.447000px;}
.x29{left:95.469000px;}
.x26{left:98.683000px;}
.x1c{left:101.985000px;}
.x6{left:103.589000px;}
.x1d{left:105.761000px;}
.x10{left:107.524000px;}
.x1b{left:111.948000px;}
.x25{left:113.043000px;}
.x24{left:115.873000px;}
.x7{left:118.582000px;}
.x5{left:124.201000px;}
.x23{left:127.439000px;}
.x22{left:132.205000px;}
.x4{left:133.536000px;}
.x1f{left:136.047000px;}
.x20{left:137.163000px;}
.x21{left:141.287000px;}
.x8{left:142.393000px;}
.xc{left:144.057000px;}
.x1e{left:151.260000px;}
.x2a{left:162.223000px;}
.x15{left:182.000000px;}
.xa{left:194.388000px;}
.x31{left:203.533000px;}
.x3b{left:210.104000px;}
.x2c{left:216.284000px;}
.x32{left:233.607000px;}
.x2b{left:236.022000px;}
.x33{left:277.272000px;}
.x34{left:307.346000px;}
.x35{left:351.012000px;}
.x2e{left:361.068000px;}
.x2d{left:366.592000px;}
.x36{left:381.085000px;}
.x37{left:424.751000px;}
.x30{left:434.512000px;}
.x2f{left:440.331000px;}
.x38{left:454.824000px;}
.x39{left:498.490000px;}
.x3a{left:528.563000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-10.888791pt;}
._2{margin-left:-7.013717pt;}
._9{margin-left:-5.525897pt;}
._8{margin-left:-3.825664pt;}
._0{margin-left:-1.912832pt;}
._7{width:2.231635pt;}
._a{width:11.743974pt;}
._5{width:13.335198pt;}
._e{width:14.771215pt;}
._b{width:16.895265pt;}
._6{width:18.543732pt;}
._c{width:20.881571pt;}
._d{width:35.812452pt;}
._12{width:58.829965pt;}
._4{width:128.902046pt;}
._1{width:130.973673pt;}
._11{width:208.546492pt;}
._10{width:380.300162pt;}
._f{width:480.580770pt;}
.fs6{font-size:26.566933pt;}
.fs4{font-size:37.193600pt;}
.fs3{font-size:42.507200pt;}
.fs5{font-size:47.820800pt;}
.fs2{font-size:53.133867pt;}
.fs1{font-size:63.761067pt;}
.fs0{font-size:91.815467pt;}
.y30{bottom:29.961333pt;}
.y32{bottom:30.025333pt;}
.y2f{bottom:42.581333pt;}
.y31{bottom:42.645333pt;}
.y33{bottom:71.333333pt;}
.y0{bottom:73.333333pt;}
.y60{bottom:94.902667pt;}
.y61{bottom:97.333333pt;}
.y2e{bottom:98.126667pt;}
.y93{bottom:105.085333pt;}
.y94{bottom:105.086667pt;}
.y5f{bottom:113.500000pt;}
.y2d{bottom:114.066667pt;}
.y5e{bottom:132.097333pt;}
.y2c{bottom:132.664000pt;}
.y92{bottom:134.309333pt;}
.y91{bottom:138.060000pt;}
.y2b{bottom:148.604000pt;}
.y90{bottom:150.249333pt;}
.y5d{bottom:150.693333pt;}
.y8e{bottom:156.426667pt;}
.y8f{bottom:162.869333pt;}
.y2a{bottom:167.201333pt;}
.y5c{bottom:169.290667pt;}
.y8d{bottom:179.341333pt;}
.y29{bottom:185.798667pt;}
.y8b{bottom:186.646667pt;}
.y8c{bottom:193.953333pt;}
.y89{bottom:196.609333pt;}
.y8a{bottom:201.429333pt;}
.y5b{bottom:203.828000pt;}
.y88{bottom:212.549333pt;}
.y28{bottom:215.021333pt;}
.y5a{bottom:222.425333pt;}
.y59{bottom:241.021333pt;}
.y87{bottom:247.086667pt;}
.y58{bottom:259.618667pt;}
.y27{bottom:265.498667pt;}
.y86{bottom:270.234667pt;}
.y57{bottom:278.216000pt;}
.y26{bottom:281.440000pt;}
.y25{bottom:297.380000pt;}
.y85{bottom:305.242667pt;}
.y56{bottom:312.753333pt;}
.y24{bottom:313.320000pt;}
.y84{bottom:321.182667pt;}
.y23{bottom:329.260000pt;}
.y55{bottom:331.349333pt;}
.y83{bottom:339.778667pt;}
.y22{bottom:345.200000pt;}
.y54{bottom:349.946667pt;}
.y82{bottom:358.376000pt;}
.y21{bottom:363.797333pt;}
.y53{bottom:368.544000pt;}
.y20{bottom:382.394667pt;}
.y52{bottom:387.140000pt;}
.y81{bottom:392.913333pt;}
.y1f{bottom:400.990667pt;}
.y80{bottom:408.853333pt;}
.y1e{bottom:419.588000pt;}
.y51{bottom:421.677333pt;}
.y7f{bottom:427.450667pt;}
.y50{bottom:440.274667pt;}
.y7e{bottom:446.048000pt;}
.y1d{bottom:454.125333pt;}
.y4f{bottom:458.872000pt;}
.y1c{bottom:470.065333pt;}
.y7d{bottom:475.270667pt;}
.y4e{bottom:477.468000pt;}
.y1b{bottom:486.005333pt;}
.y4d{bottom:496.065333pt;}
.y1a{bottom:501.945333pt;}
.y7c{bottom:509.808000pt;}
.y19{bottom:517.886667pt;}
.y7b{bottom:525.748000pt;}
.y4c{bottom:530.602667pt;}
.y18{bottom:533.826667pt;}
.y7a{bottom:544.345333pt;}
.y4b{bottom:549.200000pt;}
.y17{bottom:549.766667pt;}
.y79{bottom:562.942667pt;}
.y16{bottom:565.706667pt;}
.y4a{bottom:567.796000pt;}
.y78{bottom:578.882667pt;}
.y15{bottom:581.646667pt;}
.y49{bottom:586.393333pt;}
.y77{bottom:597.480000pt;}
.y14{bottom:600.244000pt;}
.y48{bottom:604.990667pt;}
.y13{bottom:618.841333pt;}
.y76{bottom:626.702667pt;}
.y47{bottom:634.213333pt;}
.y12{bottom:637.437333pt;}
.y75{bottom:642.644000pt;}
.y11{bottom:656.034667pt;}
.y46{bottom:668.750667pt;}
.y74{bottom:677.181333pt;}
.y45{bottom:687.348000pt;}
.y10{bottom:690.572000pt;}
.y73{bottom:695.777333pt;}
.y44{bottom:705.945333pt;}
.yf{bottom:709.169333pt;}
.y72{bottom:714.374667pt;}
.y43{bottom:724.541333pt;}
.ye{bottom:727.765333pt;}
.y71{bottom:732.972000pt;}
.yd{bottom:746.362667pt;}
.y70{bottom:751.568000pt;}
.y42{bottom:753.965333pt;}
.yc{bottom:775.586667pt;}
.y6f{bottom:786.233333pt;}
.y6e{bottom:804.829333pt;}
.y41{bottom:805.770667pt;}
.yb{bottom:810.124000pt;}
.y40{bottom:821.710667pt;}
.y6d{bottom:823.426667pt;}
.ya{bottom:826.064000pt;}
.y3f{bottom:840.308000pt;}
.y9{bottom:842.004000pt;}
.y6c{bottom:842.024000pt;}
.y3e{bottom:858.904000pt;}
.y6b{bottom:860.621333pt;}
.y8{bottom:864.586667pt;}
.y6a{bottom:879.217333pt;}
.y7{bottom:887.168000pt;}
.y3d{bottom:894.770667pt;}
.y6{bottom:909.750667pt;}
.y3c{bottom:910.710667pt;}
.y69{bottom:914.225333pt;}
.y3b{bottom:929.306667pt;}
.y5{bottom:932.332000pt;}
.y68{bottom:932.822667pt;}
.y3a{bottom:947.904000pt;}
.y67{bottom:951.418667pt;}
.y4{bottom:954.914667pt;}
.y66{bottom:970.016000pt;}
.y3{bottom:977.496000pt;}
.y39{bottom:983.769333pt;}
.y65{bottom:988.613333pt;}
.y38{bottom:999.709333pt;}
.y2{bottom:1009.846667pt;}
.y37{bottom:1018.306667pt;}
.y64{bottom:1023.620000pt;}
.y36{bottom:1034.246667pt;}
.y63{bottom:1039.560000pt;}
.y35{bottom:1052.844000pt;}
.y62{bottom:1055.501333pt;}
.y1{bottom:1067.980000pt;}
.y34{bottom:1071.441333pt;}
.ha{height:19.686098pt;}
.h8{height:27.560458pt;}
.h5{height:31.497835pt;}
.h9{height:35.435213pt;}
.h4{height:39.372195pt;}
.h3{height:47.246950pt;}
.h2{height:68.035261pt;}
.h1{height:980.000000pt;}
.h7{height:986.000000pt;}
.h6{height:1011.333333pt;}
.h0{height:1122.520000pt;}
.w2{width:0.666667pt;}
.w3{width:512.666667pt;}
.w1{width:718.666667pt;}
.w0{width:793.701333pt;}
.x0{left:37.333333pt;}
.xe{left:42.133333pt;}
.x16{left:46.044000pt;}
.x11{left:54.061333pt;}
.x1{left:57.720000pt;}
.x19{left:61.341333pt;}
.xd{left:65.817333pt;}
.x2{left:68.374667pt;}
.x28{left:70.918667pt;}
.xf{left:72.857333pt;}
.x17{left:76.393333pt;}
.x14{left:82.940000pt;}
.xb{left:91.536000pt;}
.x12{left:96.209333pt;}
.x3{left:98.733333pt;}
.x1a{left:108.642667pt;}
.x27{left:112.349333pt;}
.x9{left:120.810667pt;}
.x13{left:123.228000pt;}
.x18{left:124.596000pt;}
.x29{left:127.292000pt;}
.x26{left:131.577333pt;}
.x1c{left:135.980000pt;}
.x6{left:138.118667pt;}
.x1d{left:141.014667pt;}
.x10{left:143.365333pt;}
.x1b{left:149.264000pt;}
.x25{left:150.724000pt;}
.x24{left:154.497333pt;}
.x7{left:158.109333pt;}
.x5{left:165.601333pt;}
.x23{left:169.918667pt;}
.x22{left:176.273333pt;}
.x4{left:178.048000pt;}
.x1f{left:181.396000pt;}
.x20{left:182.884000pt;}
.x21{left:188.382667pt;}
.x8{left:189.857333pt;}
.xc{left:192.076000pt;}
.x1e{left:201.680000pt;}
.x2a{left:216.297333pt;}
.x15{left:242.666667pt;}
.xa{left:259.184000pt;}
.x31{left:271.377333pt;}
.x3b{left:280.138667pt;}
.x2c{left:288.378667pt;}
.x32{left:311.476000pt;}
.x2b{left:314.696000pt;}
.x33{left:369.696000pt;}
.x34{left:409.794667pt;}
.x35{left:468.016000pt;}
.x2e{left:481.424000pt;}
.x2d{left:488.789333pt;}
.x36{left:508.113333pt;}
.x37{left:566.334667pt;}
.x30{left:579.349333pt;}
.x2f{left:587.108000pt;}
.x38{left:606.432000pt;}
.x39{left:664.653333pt;}
.x3a{left:704.750667pt;}
}
